body
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-rule: 4px solid #000;
    -moz-column-rule: 4px solid #000;
    column-rule: 4px solid #000;
}

body
{
    background: url(http://s019.radikal.ru/i640/1510/d2/02ee4565c018.png);
}

h1, h2, h3
{
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-variant: small-caps;
}

h1 
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-style: italic;
    font-size: 43px;
    margin: 10px;
}

blockquote
{
    font-style: italic;
}

.column
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-rule: 2px solid #000;
    -moz-column-rule: 2px solid #000;
    column-rule: 2px solid #000;
}

.frame-from-below
{
    border: 6px double black;
    font-size: 35px;
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.space-letters
{
    letter-spacing: 18px;
}

.word-right
{
    text-align: right;
}

.upper-case
{
    text-transform: uppercase;
}

p
{
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 20px;
}

td
{
    text-align: center;
}

@font-face
{
    font-family: sans-serif;
}
